### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  

school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
titles = list(school_data_complete_df.columns)
titles

['Student ID',
 'student_name',
 'gender',
 'grade',
 'school_name',
 'reading_score',
 'math_score',
 'School ID',
 'type',
 'size',
 'budget']

In [3]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("% passing reading")
g = ("% passing math")
h = ("% overal passing")
j = ("Per Student Budget")

In [4]:
pass_grades_reading_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading_df.reading_score.count() / student_data_df.student_name.count())*100

pass_reading_percentage

85.80546336482001

In [5]:
pass_grades_math_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
pass_math_percentage = (pass_grades_math_df.math_score.count() / student_data_df.student_name.count())*100

pass_math_percentage

74.9808526933878

In [6]:
combo_reading_math_passing_grade_df = pass_grades_math_df.loc[pass_grades_math_df["reading_score"] >= 70]
combo_reading_math_percent = (combo_reading_math_passing_grade_df.reading_score.count() / student_data_df.student_name.count())*100

combo_reading_math_percent

65.17232575950983

In [7]:
sc = school_data_df.school_name.count()
st = student_data_df.student_name.count()
bu = school_data_df["budget"].sum()
rd_sc = school_data_complete_df.reading_score.mean()
mt_sc = school_data_complete_df.math_score.mean()
rd_pass = pass_reading_percentage
mt_pass = pass_math_percentage
cmb_pass = combo_reading_math_percent

In [8]:
#data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data = [{a : sc, b : st, c: bu, d: rd_sc, e: mt_sc, f: rd_pass, g: mt_pass, h: cmb_pass}]
df = pd.DataFrame(data)
df["total budget"] = df["total budget"].map("${:.2f}".format)
df["average reading score"] = df["average reading score"].map("{:.2f}".format)
df["average math score"] = df["average math score"].map("{:.2f}".format)
df["% passing reading"] = df["% passing reading"].map("{:.2f}%".format)
df["% passing math"] = df["% passing math"].map("{:.2f}%".format)
df["% overal passing"] = df["% overal passing"].map("{:.2f}%".format)
df.style

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
# applying groupby() function to 
# group the data on team value. 
gk_df = school_data_complete_df.groupby('school_name') 

#gk_df = pd.dataframe(gk_df)
# Let's print the first entries 
# in all the groups formed. 
#gk_df.first()

gk_df.first()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Holden High School,22847,Daniel Rodriguez,M,11th,86,92,8,Charter,427,248087
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400

In [10]:
sch_gk_df = school_data_complete_df[['school_name', 'type']]

sch_gk_df.head()

         school_name      type
0  Huang High School  District
1  Huang High School  District
2  Huang High School  District
3  Huang High School  District
4  Huang High School  District

In [12]:
sch_grp_gk_df = sch_gk_df.groupby('school_name')

sch_grp_gk_df.first()

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [20]:
#grouped_usa_df["duration (seconds)"].sum()
student_df = gk_df["student_name"].count()
student_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
bud_df = gk_df["budget"].sum()
bud_for_df = bud_df.map("${:.2f}".format)
bud_for_df

school_name
Bailey High School       $15549641728.00
Cabrera High School       $2009159448.00
Figueroa High School      $5557128039.00
Ford High School          $4831365924.00
Griffin High School       $1346890000.00
Hernandez High School    $14007062700.00
Holden High School         $105933149.00
Huang High School         $5573322295.00
Johnson High School      $14733628650.00
Pena High School           $563595396.00
Rodriguez High School    $10186904637.00
Shelton High School       $1860672600.00
Thomas High School        $1705517550.00
Wilson High School        $3012587442.00
Wright High School        $1888920000.00
Name: budget, dtype: object

In [14]:
bud_df

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [15]:
per_stu_budget =  bud_df / student_df
per_stu_budget
per_stu_for_budget = per_stu_budget.map("${:.2f}".format)
per_stu_for_budget

school_name
Bailey High School       $3124928.00
Cabrera High School      $1081356.00
Figueroa High School     $1884411.00
Ford High School         $1763916.00
Griffin High School       $917500.00
Hernandez High School    $3022020.00
Holden High School        $248087.00
Huang High School        $1910635.00
Johnson High School      $3094650.00
Pena High School          $585858.00
Rodriguez High School    $2547363.00
Shelton High School      $1056600.00
Thomas High School       $1043130.00
Wilson High School       $1319574.00
Wright High School       $1049400.00
dtype: object

In [16]:
srd_sc_df = gk_df.reading_score.mean()
srd_sc_df

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
smt_sc_df = gk_df.math_score.mean()
smt_sc_df

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
Sch_pass_grades_reading_df = gk_df.loc[gk_df["reading_score"] >= 70] 
Sch_pass_grades_reading_df

#pass_reading_percentage = (Sch_pass_grades_reading_df.count() / student_df.count())*100

#sch_pass_reading_percentage

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [23]:
titles = list(gk_df[titles])
titles

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [ ]:
ssc = gk_df.school_name
sst = gk_df.student_name.count()
sbu = gk_df["budget"].sum()
srd_sc = gk_df.reading_score.mean()
smt_sc = gk_df.math_score.mean()
srd_pass = pass_reading_percentage
smt_pass = pass_math_percentage
scmb_pass = combo_reading_math_percent

In [ ]:
data1 = [{a : ssc, b : sst, c: sbu, d: srd_sc, e: smt_sc, f: srd_pass, g: smt_pass, h: scmb_pass}]
gk_df = pd.DataFrame(data1)
#gk_df["total budget"] = df["total budget"].map("${:.2f}".format)
#gk_df["average reading score"] = df["average reading score"].map("{:.2f}".format)
#gk_df["average math score"] = df["average math score"].map("{:.2f}".format)
#gk_df["% passing reading"] = df["% passing reading"].map("{:.2f}%".format)
#gk_df["% passing math"] = df["% passing math"].map("{:.2f}%".format)
#gk_df["% overal passing"] = df["% overal passing"].map("{:.2f}%".format)
gk_df.style

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.groupby(['Fruit','Name']).sum()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type