### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("combo pass score")
g = ("% Passing Reading")
h = ("% Passing Math")
i = ("% Passing Reading/Math")
j = ("Per Student Budget")
k = ("School type")
l = ("School Names")
m = ("Total School Budget")

In [3]:
sc = school_data.school_name.count()
st = student_data.student_name.count()
bu = school_data["budget"].sum()
rd_sc = school_data_complete.reading_score.mean()
mt_sc = school_data_complete.math_score.mean()

In [4]:
#passing reading

pass_grades_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100


pass_reading_percentage

85.80546336482001

In [5]:
#passing math

pass_grades_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_math_percentage = (pass_grades_math.math_score.count() / student_data.student_name.count())*100


pass_math_percentage

74.9808526933878

In [6]:
#pasing reading and math

combo_reading_math_passing_grade = pass_grades_math.loc[pass_grades_math["reading_score"] >= 70]
combo_reading_math_percent = (combo_reading_math_passing_grade.reading_score.count() / student_data.student_name.count())*100



combo_reading_math_percent

65.17232575950983

In [7]:
rd_pass = pass_reading_percentage
mt_pass = pass_math_percentage
cmb_pass = combo_reading_math_percent

In [8]:
#format data for summary table
#data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data = [{a : sc, b : st, c: bu, d: rd_sc, e: mt_sc,h: mt_pass, g: rd_pass, i: cmb_pass}]
df = pd.DataFrame(data)
df["total budget"] = df["total budget"].map("${:,.2f}".format)
df["average math score"] = df["average math score"].map("{:.2f}".format)
df["average reading score"] = df["average reading score"].map("{:.2f}".format)
df['% Passing Math'] = df['% Passing Math'].map('{:.2f}%'.format)
df['% Passing Reading'] = df['% Passing Reading'].map('{:.2f}%'.format)
df['% Passing Reading/Math'] = df['% Passing Reading/Math'].map('{:.2f}%'.format)

#df["math_percentage"] = df["math_percentage"].map("{:.2f}%".format)
#df["pass_reading_percentage"] = df["pass_reading_percentage"].map("{:.2f}%".format)
#df["combo_reading_math_percent"] = df["combo_reading_math_percent"].map("{:.2f}%".format)
df.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [47]:
#summary table by school
# applying groupby() function to 

# group the data on team value. 
school_summary = school_data_complete.groupby('school_name')


school_names = school_data.school_name.sort_values()

school_type = school_data.sort_values(by="school_name").type

school_total_students = list(school_summary.student_name.count())

budget = school_data.sort_values(by="school_name").budget
budget_format = budget.map("${:.2f}".format)

per_stu_budget = budget / school_total_students
for_budget = per_stu_budget.map("${:.2f}".format)


school_avg_reading_score = school_summary.reading_score.mean()
school_avg_reading_format = school_avg_reading_score.map("{:.2f}".format)
school_avg_math_score = school_summary.math_score.mean()


#do not change above this line----------------------------------------------------------------

#per school percentage of passing grades per school


#xxxx = school_summary[school_summary["reading_score"]]
#school_pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100


#xxxx

In [57]:
school_avg_reading_format

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.95
Name: reading_score, dtype: object

In [49]:
school_avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [50]:
school_avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [51]:
school_avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [52]:
school_names

7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object

In [53]:
budget

7     3124928
6     1081356
1     1884411
13    1763916
4      917500
3     3022020
8      248087
0     1910635
12    3094650
9      585858
11    2547363
2     1056600
14    1043130
5     1319574
10    1049400
Name: budget, dtype: int64

In [54]:
per_stu_budget

7     628.0
6     582.0
1     639.0
13    644.0
4     625.0
3     652.0
8     581.0
0     655.0
12    650.0
9     609.0
11    637.0
2     600.0
14    638.0
5     578.0
10    583.0
Name: budget, dtype: float64

In [55]:
school_avg_reading_score_format

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.95
Name: reading_score, dtype: object

In [63]:
# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({l:school_names,
                                  k:school_type,
                                  b:school_total_students,
                                  m:budget_format,
                                  j:for_budget})
                                 


#school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

,School Names,School type,total students,Total School Budget,Per Student Budget
7,Bailey High School,District,4976,$3124928.00,$628.00
6,Cabrera High School,Charter,1858,$1081356.00,$582.00
1,Figueroa High School,District,2949,$1884411.00,$639.00
13,Ford High School,District,2739,$1763916.00,$644.00
4,Griffin High School,Charter,1468,$917500.00,$625.00
3,Hernandez High School,District,4635,$3022020.00,$652.00
8,Holden High School,Charter,427,$248087.00,$581.00
0,Huang High School,District,2917,$1910635.00,$655.00
12,Johnson High School,District,4761,$3094650.00,$650.00
9,Pena High School,Charter,962,$585858.00,$609.00
11,Rodriguez High School,District,3999,$2547363.00,$637.00
2,Shelton High School,Charter,1761,$1056600.00,$600.00
14,Thomas High School,Charter,1635,$1043130.00,$638.00
5,Wilson High School,Charter,2283,$1319574.00,$578.00
10,Wright High School,Charter,1800,$1049400.00,$583.00

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.groupby(['Fruit','Name']).sum()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#added-------------------------------------------------------------

school_summary = school_data_complete.groupby(['school_name'])
school_names = school_data_complete.school_name.sort_values().unique()
school_types = school_data.sort_values(by="school_name").type
school_total_students = list(school_summary.student_name.count())
school_budget = list(school_summary.budget.mean())
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
school_avg_math_score = list(school_summary.math_score.mean())
school_avg_reading_score = list(school_summary.reading_score.mean())

# Calculating passing percentages
school_summary = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
school_pct_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
school_summary = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
school_pct_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]
school_overall_passing = [(i+j)/2 for i,j in zip(school_pct_passing_math,school_pct_passing_reading)]

# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":school_pct_passing_math,
                                  "% Passing Reading":school_pct_passing_reading,
                                  "Overall Passing Rate":school_overall_passing})

#school_summary_df = school_summary_df.reset_index(drop=True)
#school_summary_df

#added-----------------------------------------------------------------

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:

                                  #f:school_pct_passing_reading,
                                  #g:pass_math_percentage,
                                  #h:school_overall_passing})