### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_to_load)

#schools_df = pd.read_csv(schools_file)
student_df = pd.read_csv(student_data_to_load)

#renames for merge
school_df.rename(columns = {'name': 'school'}, inplace = True)
school_df.rename(columns = {'name': 'student'}, inplace = True)

# Combine the data into a single dataset.  

school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
#school_data_complete

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("combo pass score")
g = ("% Passing Reading")
h = ("% Passing Math")
i = ("% Passing Reading/Math")
j = ("Per Student Budget")
k = ("School type")
l = ("School Names")
m = ("Total School Budget")

In [4]:
sc = school_df.school_name.count()
st = school_data_complete.student_name.count()
bu = school_df["budget"].sum()
rd_sc = school_data_complete.reading_score.mean()
mt_sc = school_data_complete.math_score.mean()

In [5]:
#passing reading

pass_grades_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_df.student_name.count())*100

In [6]:
#passing math

pass_grades_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_math_percentage = (pass_grades_math.math_score.count() / student_df.student_name.count())*100

In [7]:
#pasing reading and math

combo_reading_math_passing_grade = pass_grades_math.loc[pass_grades_math["reading_score"] >= 70]
combo_reading_math_percent = (combo_reading_math_passing_grade.reading_score.count() / student_df.student_name.count())*100

In [8]:
rd_pass = pass_reading_percentage
mt_pass = pass_math_percentage
cmb_pass = combo_reading_math_percent

In [9]:
#format data for summary table
#data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data = [{a : sc, b : st, c: bu, d: rd_sc, e: mt_sc,h: mt_pass, g: rd_pass, i: cmb_pass}]
df = pd.DataFrame(data)
df["total budget"] = df["total budget"].map("${:,.2f}".format)
df["average math score"] = df["average math score"].map("{:.2f}".format)
df["average reading score"] = df["average reading score"].map("{:.2f}".format)
df['% Passing Math'] = df['% Passing Math'].map('{:.2f}%'.format)
df['% Passing Reading'] = df['% Passing Reading'].map('{:.2f}%'.format)
df['% Passing Reading/Math'] = df['% Passing Reading/Math'].map('{:.2f}%'.format)

#Format the datatable
df.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
# applying groupby() function to 
#school_df = pd.read_csv(school_df)

#Reference school_df---------------------------

#create array of unique school names
unique_school_names = school_df['school_name'].unique()

#gives the length of unique school names to give us how many schools
school_count = len(unique_school_names)

#-------------------------------------------------
school_names = school_df['school_name'].unique()

#-------------------------------------------------
school_type = school_df.set_index(["school_name"]).type

#Reference both school_df and -------------------------------------------------
budget = school_df.set_index(["school_name"]).budget
budget_format = budget.map("${:,.2f}".format)

#Reference school_data_complete-------------------------------------------------
school_total_students = school_data_complete.school_name.value_counts()

#-------------------------------------------------
per_stu_budget = budget / school_total_students
per_stu_budget_format = per_stu_budget.map("${:.2f}".format)
#per_stu_budget_format

In [11]:

#---Reference school_data_complete----------------------------------------------
school_summary = school_data_complete.groupby('school_name')
 
#----------------------------------------------------
avg_reading = list(school_summary.reading_score.mean().map("{:.2f}".format))

#-----------------------------------------------------
avg_math = list(school_summary.math_score.mean().map("{:.2f}".format))

# % passing scores
pass_math = school_data_complete[(school_data_complete['math_score'] >= 70)] 

pass_read = school_data_complete[school_data_complete['reading_score'] >= 70]

pass_overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]

In [12]:
math_prct = pass_math.groupby(['school_name']).count()['Student ID']/school_total_students*100
math_prct_format = math_prct.map('{:.2f}%'.format)

reading_prct = pass_read.groupby(['school_name']).count()['Student ID']/school_total_students*100
reading_prct_format = reading_prct.map('{:.2f}%'.format)

overall_prct = pass_overall.groupby(['school_name']).count()['Student ID']/school_total_students*100
overall_prct_format = overall_prct.map('{:.2f}%'.format)

#reading_prct_format

In [13]:
school_summary_df =pd.DataFrame({"School type":school_type,"total students":school_total_students, "Total School Budget":budget_format,
"Per Student Budget":per_stu_budget_format, "average math score":avg_math, "Average Reading Score":avg_reading, "% Passing Math":math_prct_format, "% Passing Reading":reading_prct_format, "% Passing Reading/Math":overall_prct_format})
school_summary_df

,School type,total students,Total School Budget,Per Student Budget,average math score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Reading/Math
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [14]:
  school_summary_df.sort_values("% Passing Reading/Math", ascending=False).head()

,School type,total students,Total School Budget,Per Student Budget,average math score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Reading/Math
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [15]:
school_summary_df.sort_values("% Passing Reading/Math", ascending=True).head()

,School type,total students,Total School Budget,Per Student Budget,average math score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Reading/Math
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [16]:
#creates grade level average math scores for each school 
ninth_math = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
#creates grade level average math scores for each school 
ninth_reading = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

read_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
read_scores = read_scores[['9th', '10th', '11th', '12th']]
read_scores.index.name = "School"

#show and format
read_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [23]:
# Establish the bins 
bins = [0, 585, 630, 645, 675]
names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [25]:
per_stu_budget = pd.DataFrame({"Per Student Budget":per_stu_budget, "Avg Math Score":avg_math, 
                                       "Avg Reading Score":avg_reading, "% Passing Math":math_prct_format, 
                                       "% Passing Reading":reading_prct_format, "% Passing Reading/Math":overall_prct_format})

In [26]:
per_school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_stu_budget, bins, labels=names)
                                                 
per_school_spending_df

ValueError: Input array must be 1 dimensional

In [22]:
#  Calculate averages for the desired columns. 
spending_math_scores = per_school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["average math score"]
spending_reading_scores = per_school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

KeyError: 'average math score'

In [ ]:
per_school_spending_summary = pd.DataFrame({"Average Math Score": avg_math.round(2), 
                                            "Average Reading Score": avg_reading.round(2), 
                                            "% Passing Math": spending_passing_math.round(2), 
                                            "% Passing Reading": spending_passing_reading.round(2), 
                                            "% Overall Passing": overall_passing_spending.round(2)})


per_school_spending_summary = per_school_spending_summary[["Average Math Score", 
                                                           "Average Reading Score", 
                                                           "% Passing Math", "% Passing Reading", 
                                                           "% Overall Passing"]]


per_school_spending_summary

In [ ]:
# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins, labels=names)
school_spending_df

In [ ]:

# school_spending_bins_df = pd.cut(per_school_spending_df["Per Student Budget"], bins, labels=group_name, include_lowest=True)
# per_school_spending_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
school_binning_size_df =pd.DataFrame({"total students":school_total_students, "average math score":avg_math, "Average Reading Score":avg_reading, "% Passing Math":math_prct_format, "% Passing Reading":reading_prct_format, "% Passing Reading/Math":overall_prct_format})
school_binning_size_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
school_binning_type_df =pd.DataFrame({"School type":school_type, "average math score":avg_math, "Average Reading Score":avg_reading, "% Passing Math":math_prct_format, "% Passing Reading":reading_prct_format, "% Passing Reading/Math":overall_prct_format})
school_binning_type_df