### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [77]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
#schools_df = pd.read_csv(schools_file)


student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [78]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("combo pass score")
g = ("% Passing Reading")
h = ("% Passing Math")
i = ("% Passing Reading/Math")
j = ("Per Student Budget")
k = ("School type")
l = ("School Names")
m = ("Total School Budget")

In [79]:
sc = school_data.school_name.count()
st = student_data.student_name.count()
bu = school_data["budget"].sum()
rd_sc = school_data_complete.reading_score.mean()
mt_sc = school_data_complete.math_score.mean()

In [80]:
#passing reading

pass_grades_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100


pass_reading_percentage

85.80546336482001

In [81]:
#passing math

pass_grades_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_math_percentage = (pass_grades_math.math_score.count() / student_data.student_name.count())*100


pass_math_percentage

74.9808526933878

In [82]:
#pasing reading and math

combo_reading_math_passing_grade = pass_grades_math.loc[pass_grades_math["reading_score"] >= 70]
combo_reading_math_percent = (combo_reading_math_passing_grade.reading_score.count() / student_data.student_name.count())*100



combo_reading_math_percent

65.17232575950983

In [83]:
rd_pass = pass_reading_percentage
mt_pass = pass_math_percentage
cmb_pass = combo_reading_math_percent

In [84]:
#format data for summary table
#data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data = [{a : sc, b : st, c: bu, d: rd_sc, e: mt_sc,h: mt_pass, g: rd_pass, i: cmb_pass}]
df = pd.DataFrame(data)
df["total budget"] = df["total budget"].map("${:,.2f}".format)
df["average math score"] = df["average math score"].map("{:.2f}".format)
df["average reading score"] = df["average reading score"].map("{:.2f}".format)
df['% Passing Math'] = df['% Passing Math'].map('{:.2f}%'.format)
df['% Passing Reading'] = df['% Passing Reading'].map('{:.2f}%'.format)
df['% Passing Reading/Math'] = df['% Passing Reading/Math'].map('{:.2f}%'.format)

#Format the datatable
df.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [76]:
#summary table by school
# applying groupby() function to 

# group the data on team value. 
schools_df = pd.read_csv(school_data)

#groups by schoolschools_df = pd.read_csv(schools_file)

school_summary = school_data_complete.groupby(['school_name'])

#------------------------------------------------

#create array of unique school names
unique_school_names = schools_df['school'].unique()

#gives the length of unique school names to give us how many schools
school_count = len(unique_school_names)



school_names = schools_df['school'].unique()
#school_names = school_data.school_name.sort_values()

#-------------------------------------------------
school_type = school_data.sort_values(by="school_name").type

#-------------------------------------------------
school_total_students = list(school_summary.student_name.count())

#-------------------------------------------------
budget = school_data.sort_values(by="school_name").budget
budget_format = budget.map("${:.2f}".format)

#-------------------------------------------------
per_stu_budget = budget / school_total_students
for_budget = per_stu_budget.map("${:.2f}".format)

#----------------------------------------------------
school_avg_reading_score = list(school_summary.reading_score.mean())


#-----------------------------------------------------
school_avg_math_score = list(school_summary.math_score.mean())


#do not change above this line----------------------------------------------------------------


# % passing scores
#school_pass_grades_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_names')['Student ID'].count()/school_total_students 
#school_pass_grades_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').count()
#pass_read = merged_df[school_data_complete['reading_score'] >= 70].groupby('school_names')['Student ID'].count()/stu_per_sch 
#overall_Pass_percentage = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_names')['Student ID'].count()/school_total_students



#per school percentage of passing grades per school
# Calculating passing percentages
#school_pass_grades_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
#school_pct_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
#school_pass_grades_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
#school_pct_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]

#xxxx = school_summary[school_summary["reading_score"]]
#school_pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100









#xxxx

ValueError: Invalid file path or buffer object type: <class 'pandas.core.frame.DataFrame'>

In [71]:
school_names

7        Bailey High School
6       Cabrera High School
1      Figueroa High School
13         Ford High School
4       Griffin High School
3     Hernandez High School
8        Holden High School
0         Huang High School
12      Johnson High School
9          Pena High School
11    Rodriguez High School
2       Shelton High School
14       Thomas High School
5        Wilson High School
10       Wright High School
Name: school_name, dtype: object

In [60]:
type(school_avg_reading_score)

list

In [56]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("combo pass score")
g = ("% Passing Reading")
h = ("% Passing Math")
i = ("% Passing Reading/Math")
j = ("Per Student Budget")
k = ("School type")
l = ("School Names")
m = ("Total School Budget")

In [68]:



# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({l:school_names,
                                  k:school_type,
                                  b:school_total_students,
                                  m:budget_format,
                                  j:for_budget,
                                  e:school_avg_math_score,
                                  d:school_avg_reading_score})
                                 


school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

,School Names,School type,total students,Total School Budget,Per Student Budget,average math score,average reading score
0,Bailey High School,District,4976,$3124928.00,$628.00,77.048432,81.033963
1,Cabrera High School,Charter,1858,$1081356.00,$582.00,83.061895,83.975780
2,Figueroa High School,District,2949,$1884411.00,$639.00,76.711767,81.158020
3,Ford High School,District,2739,$1763916.00,$644.00,77.102592,80.746258
4,Griffin High School,Charter,1468,$917500.00,$625.00,83.351499,83.816757
5,Hernandez High School,District,4635,$3022020.00,$652.00,77.289752,80.934412
6,Holden High School,Charter,427,$248087.00,$581.00,83.803279,83.814988
7,Huang High School,District,2917,$1910635.00,$655.00,76.629414,81.182722
8,Johnson High School,District,4761,$3094650.00,$650.00,77.072464,80.966394
9,Pena High School,Charter,962,$585858.00,$609.00,83.839917,84.044699
10,Rodriguez High School,District,3999,$2547363.00,$637.00,76.842711,80.744686
11,Shelton High School,Charter,1761,$1056600.00,$600.00,83.359455,83.725724
12,Thomas High School,Charter,1635,$1043130.00,$638.00,83.418349,83.848930
13,Wilson High School,Charter,2283,$1319574.00,$578.00,83.274201,83.989488
14,Wright High School,Charter,1800,$1049400.00,$583.00,83.682222,83.955000

In [44]:
school_math_passing_grade

NameError: name 'school_math_passing_grade' is not defined

In [40]:
school_pass_math_percentage  =  [(i/j)*100 for i,j in zip(school_summary_df.school_avg_math_score.count(),school_total_students)]

AttributeError: 'DataFrame' object has no attribute 'school_avg_math_score'

In [34]:
school_summary_df.columns

Index(['School Names', 'School type', 'total students', 'Total School Budget',
       'Per Student Budget', 'average math score', 'average reading score'],
      dtype='object')

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.groupby(['Fruit','Name']).sum()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#added-------------------------------------------------------------

school_summary = school_data_complete.groupby(['school_name'])
school_names = school_data_complete.school_name.sort_values().unique()
school_types = school_data.sort_values(by="school_name").type
school_total_students = list(school_summary.student_name.count())
school_budget = list(school_summary.budget.mean())
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
school_avg_math_score = list(school_summary.math_score.mean())
school_avg_reading_score = list(school_summary.reading_score.mean())

# Calculating passing percentages
school_summary = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
school_pct_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
school_summary = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
school_pct_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]
school_overall_passing = [(i+j)/2 for i,j in zip(school_pct_passing_math,school_pct_passing_reading)]

# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":school_pct_passing_math,
                                  "% Passing Reading":school_pct_passing_reading,
                                  "Overall Passing Rate":school_overall_passing})

#school_summary_df = school_summary_df.reset_index(drop=True)
#school_summary_df

#added-----------------------------------------------------------------

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:

                                  #f:school_pct_passing_reading,
                                  #g:pass_math_percentage,
                                  #h:school_overall_passing})