### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
a = ("total schools")
b = ("total students")
c = ("total budget")
d = ("average reading score")
e = ("average math score")
f = ("combo pass score")
g = ("% Passing Reading")
h = ("% Passing Math")
i = ("% Passing Reading/Math")
j = ("Per Student Budget")
k = ("School type")
l = ("School Names")
m = ("Total School Budget")

In [3]:
sc = school_data.school_name.count()
st = student_data.student_name.count()
bu = school_data["budget"].sum()
rd_sc = school_data_complete.reading_score.mean()
mt_sc = school_data_complete.math_score.mean()

In [4]:
#passing reading

pass_grades_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100


pass_reading_percentage

85.80546336482001

In [5]:
#passing math

pass_grades_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_math_percentage = (pass_grades_math.math_score.count() / student_data.student_name.count())*100


pass_math_percentage

74.9808526933878

In [6]:
#pasing reading and math

combo_reading_math_passing_grade = pass_grades_math.loc[pass_grades_math["reading_score"] >= 70]
combo_reading_math_percent = (combo_reading_math_passing_grade.reading_score.count() / student_data.student_name.count())*100



combo_reading_math_percent

65.17232575950983

In [7]:
rd_pass = pass_reading_percentage
mt_pass = pass_math_percentage
cmb_pass = combo_reading_math_percent

In [8]:
#format data for summary table
#data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
data = [{a : sc, b : st, c: bu, d: rd_sc, e: mt_sc,h: mt_pass, g: rd_pass, i: cmb_pass}]
df = pd.DataFrame(data)
df["total budget"] = df["total budget"].map("${:,.2f}".format)
df["average math score"] = df["average math score"].map("{:.2f}".format)
df["average reading score"] = df["average reading score"].map("{:.2f}".format)
df['% Passing Math'] = df['% Passing Math'].map('{:.2f}%'.format)
df['% Passing Reading'] = df['% Passing Reading'].map('{:.2f}%'.format)
df['% Passing Reading/Math'] = df['% Passing Reading/Math'].map('{:.2f}%'.format)




#df["math_percentage"] = df["math_percentage"].map("{:.2f}%".format)
#df["pass_reading_percentage"] = df["pass_reading_percentage"].map("{:.2f}%".format)
#df["combo_reading_math_percent"] = df["combo_reading_math_percent"].map("{:.2f}%".format)
df.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
#summary table by school
# applying groupby() function to 
# group the data on team value. 
#school_summary = school_data_complete.groupby('school_name') 


school_summary = school_data_complete.groupby('school_name')
#aaa = school_data_complete.sort_values(by="school_name").size
school_total_students = list(school_summary.student_name.count())

#school_names = school_data_complete.school_name.sort_values().unique()
#school_names = school_data.school_name.sort_values().unique()
school_names = school_data.school_name.sort_values()


school_type = school_data.sort_values(by="school_name").type

budget = school_data.sort_values(by="school_name").budget
budget_format = budget.map("${:.2f}".format)
per_stu_budget = budget / school_total_students

for_budget = per_stu_budget.map("${:.2f}".format)
school_avg_reading_score = school_summary.reading_score.mean()
school_avg_math_score = school_summary.math_score.mean()

pass_grades_reading = school_summary .loc[school_summary["reading_score"] >= 70] 
pass_reading_percentage = (pass_grades_reading.reading_score.count() / student_data.student_name.count())*100

#gk_df = pd.dataframe(gk_df)
# Let's print the first entries 
# in all the groups formed. 
#school_summary .first()

for_budget

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [ ]:
pass_reading_percentage

In [ ]:
school_names

In [ ]:
budget

In [ ]:
per_stu_budget

In [ ]:
# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({l:school_names,
                                  k:school_type,
                                  b:school_total_students,
                                  m:budget_format,
                                  j:for_budget,
                                  d:school_avg_math_score,
                                  e:school_avg_reading_score,
                                  f:school_pct_passing_reading,
                                  g:pass_math_percentage,
                                  h:school_overall_passing})

school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

In [ ]:
ssc = school_summary
sst = school_names
studnt_count
sbu = gk_df["budget"].sum()
srd_sc = gk_df.reading_score.mean()
smt_sc = gk_df.math_score.mean()
srd_pass = pass_reading_percentage
smt_pass = pass_math_percentage
scmb_pass = combo_reading_math_percent

In [ ]:
data1 = [{a : ssc, b : sst, c: sbu, d: srd_sc, e: smt_sc, f: srd_pass, g: smt_pass, h: scmb_pass}]
gk_df = pd.DataFrame(data1)
#gk_df["total budget"] = df["total budget"].map("${:.2f}".format)
#gk_df["average reading score"] = df["average reading score"].map("{:.2f}".format)
#gk_df["average math score"] = df["average math score"].map("{:.2f}".format)
#gk_df["% passing reading"] = df["% passing reading"].map("{:.2f}%".format)
#gk_df["% passing math"] = df["% passing math"].map("{:.2f}%".format)
#gk_df["% overal passing"] = df["% overal passing"].map("{:.2f}%".format)
gk_df.style

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df.groupby(['Fruit','Name']).sum()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#added-------------------------------------------------------------

school_summary = school_data_complete.groupby(['school_name'])
school_names = school_data_complete.school_name.sort_values().unique()
school_types = school_data.sort_values(by="school_name").type
school_total_students = list(school_summary.student_name.count())
school_budget = list(school_summary.budget.mean())
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
school_avg_math_score = list(school_summary.math_score.mean())
school_avg_reading_score = list(school_summary.reading_score.mean())

# Calculating passing percentages
school_summary = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
school_pct_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]
school_summary = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
school_pct_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]
school_overall_passing = [(i+j)/2 for i,j in zip(school_pct_passing_math,school_pct_passing_reading)]

# Compile all calculations into dataframe
school_summary_df = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "% Passing Math":school_pct_passing_math,
                                  "% Passing Reading":school_pct_passing_reading,
                                  "Overall Passing Rate":school_overall_passing})

#school_summary_df = school_summary_df.reset_index(drop=True)
#school_summary_df

#added-----------------------------------------------------------------

## Scores by School Type

* Perform the same operations as above, based on school type